<!-- <html>
	<head>
		<title>Billing Application</title>
		<link rel="stylesheet" href="/css/style.css" />
	</head>
	<body>
		<h1>Billing Application</h1>
		<div class="navbar">
			<div class="nav-brand">Billing application</div>
		</div>
		<div class="searchBar">
			<form action="/customerSearch" method="post">
				<input type="text" name="customerName" required />
				<button type="submit">Search</button>
			</form>
		</div>
		<div class="addNewCustomer">
			<button>add new customer</button>
		</div>
	</body>
</html> -->
<!-- <div class="customers">
			<h2>Customers</h2>
			<table>
				<thead>
					<tr>
						<th>Customer ID</th>
						<th>Customer Name</th>
						<th>Customer Address</th>
					</tr>
				</thead>
				<tbody id="customers"></tbody>
			</table>
		</div>
		<div class="transactions">
			<h2>Transactions</h2>
			<table>
				<thead>
					<tr>
						<th>Transaction ID</th>
						<th>Customer ID</th>
						<th>Transaction Date</th>
						<th>Transaction Amount</th>
					</tr>
				</thead>
				<tbody id="transactions"></tbody>
			</table>
		</div> -->
<%- include("partials/header"); -%>
<div class="container mt-4">
	<div class="row">
		<div class="col-md-6 offset-md-3">
			<form action="/" method="post">
				<div class="input-group mb-3">
					<input type="text" class="form-control" name="customerName" placeholder="enter name" required />
					<div class="input-group-append">
						<button class="btn btn-primary" type="submit">Search</button>
					</div>
				</div>
			</form>
		</div>
	</div>
</div>
<div class="row justify-content-left ml-4 mt-4">
	<div class="col-md-6">
		<a class="nav-link" href="/addCustomer"> <button class="btn btn-primary">Add New Customer</button></a>
	</div>
</div>
<%- include("partials/footer"); -%>
